/* Font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans+Condensed:wght@300&display=swap');

/* colors */
:root {
  --color-black: #353535;
  --color-blue: #284b63;
  --color-silver: #d9d9d9;
  --color-green: #3c6e71;
  --color-white: #ffffff; 
}

/* conteedor de autor y frase */
.switcher {
  width: 600px;
  max-width: 700px;
  height: 400px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid var(--color-black);
  background-color: var(--color-black);
}

.authors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.8rem;
}

/* boton de autor */
.author-btn {
  width: 5.5rem;
  height: 5.5rem;
  overflow: hidden;
  padding: 0.02rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-silver);
  transition: opacity 0.2s ease-out;
}

/* boton de autor, focus */
.author-btn:focus {
  opacity: 1;
  outline: 0;
  border: 0.2rem solid var(--color-blue);
}

/* boton de autor atenuado */
.author-btn-dimmed {
  opacity: 0.5;
}

/* la imagen debe ocupar todo el espacio del boton */
.btn-image {
  display: block;
  width: 100%;
  height: 100%;
}

.authors {
  height: 30%;
}

.quotes {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-hidden {
  display: none;
}

.quote {
  margin: 0 1.8rem;
}

.quote-text blockquote {
  margin: 0;
  font-size: 2rem;
}

.quote-text blockquote p {
  margin: 1rem 0;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  font-family: 'Dancing Script', cursive;
  color: var(--color-silver);
}

.quote-text blockquote p::first-letter {
  font-size: 3rem;
  color: var(--color-blue);
}

.quote-author p {
  margin: 1rem 2rem 0 0;
  font-size: 1.2rem;
  text-align: end;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Open Sans Condensed', sans-serif;
  color: var(--color-silver);
}